# Scatter Text Data Review Buku ***1001 Inventions: The Enduring Legacy of Muslim Civilization*** dari Amazon

## 1. Instalasi Package yang dibutuhkan

In [ ]:
pip install scattertext

In [ ]:
%matplotlib inline
import scattertext as st
import re, io
from pprint import pprint
import pandas as pd
import numpy as np
from scipy.stats import rankdata, hmean, norm
import spacy
import os, pkgutil, json, urllib
from urllib.request import urlopen
from IPython.display import IFrame
from IPython.core.display import display, HTML
from scattertext import CorpusFromPandas, produce_scattertext_explorer
display(HTML("<style>.container { width:98% !important; }</style>"))

In [ ]:
import spacy
nlp = spacy.load('en')

## 2. Memanggil Data yang akan digunakan

In [ ]:
df = pd.read_csv('dataUTS.csv')
df.head()

       type       viewer                                               text
0  positive   cybernetix  Amazing book on highlighting the contributions...
1  positive    ma sathar  With increasing bigotry Islamophobia and perse...
2  positive  amjad kayed  A great book that tells the truth about how mu...
3  positive       mohd a  I loved it. It took me back years to my high s...
4  positive         khan  Highly informative books, I bought for my chil...

## 3. Membagi text menjadi perkata

In [ ]:
df['parsed'] = df.text.apply(nlp)
df.head()

       type  ...                                             parsed
0  positive  ...  (Amazing, book, on, highlighting, the, contrib...
1  positive  ...  (With, increasing, bigotry, Islamophobia, and,...
2  positive  ...  (A, great, book, that, tells, the, truth, abou...
3  positive  ...  (I, loved, it, ., It, took, me, back, years, t...
4  positive  ...  (Highly, informative, books, ,, I, bought, for...

[5 rows x 4 columns]

In [ ]:
print("Document Count")
print(df.groupby('type')['text'].count())
print("Word Count")
df.groupby('type').apply(lambda x: x.text.apply(lambda x: len(x.split())).sum())

Document Count
type
critical      9
positive    166
Name: text, dtype: int64
Word Count

type
critical     385
positive    4162
dtype: int64

In [ ]:
corpus = st.CorpusFromParsedDocuments(df, category_col='type', parsed_col='parsed').build()

## 4. Memvisualisasikan Data

In [ ]:
html = produce_scattertext_explorer(corpus,
                                    category='positive',
                                    category_name='Positive',
                                    not_category_name='Critical',
                                    width_in_pixels=1000,
                                    minimum_term_frequency=5,
                                    metadata=df['viewer'])
file_name = 'BookReviewScattertextScale.html'
open(file_name, 'wb').write(html.encode('utf-8'))
IFrame(src=file_name, width = 1200, height=700)

In [ ]:
html = st.produce_scattertext_explorer(corpus,
                                       category='positive',
                                       category_name='Positive',
                                       not_category_name='Critical',
                                       minimum_term_frequency=5,
                                       width_in_pixels=1000,
                                       transform=st.Scalers.log_scale_standardize)
file_name = 'BookReviewScattertextLog.html'
open(file_name, 'wb').write(html.encode('utf-8'))
IFrame(src=file_name, width = 1200, height=700)

In [ ]:
html = produce_scattertext_explorer(corpus,
                                    category='positive',
                                    category_name='Positive',
                                    not_category_name='Critical',
                                    width_in_pixels=1000,
                                    minimum_term_frequency=5,
                                    transform=st.Scalers.percentile,
                                    metadata=df['viewer'])
file_name = 'BookReviewScattertextRankData.html'
open(file_name, 'wb').write(html.encode('utf-8'))
IFrame(src=file_name, width = 1200, height=700)

In [ ]:
html = produce_scattertext_explorer(corpus,
                                    category='critical',
                                    category_name='Positive',
                                    not_category_name='Critical',
                                    width_in_pixels=1000,
                                    minimum_term_frequency=5,
                                    metadata=df['viewer'])
file_name = 'CriticalBookReviewScattertextScale.html'
open(file_name, 'wb').write(html.encode('utf-8'))
IFrame(src=file_name, width = 1200, height=700)

In [ ]:
html = st.produce_scattertext_explorer(corpus,
                                       category='critical',
                                       category_name='Positive',
                                       not_category_name='Critical',
                                       minimum_term_frequency=5,
                                       width_in_pixels=1000,
                                       transform=st.Scalers.log_scale_standardize)
file_name = 'CriticalBookReviewScattertextLog.html'
open(file_name, 'wb').write(html.encode('utf-8'))
IFrame(src=file_name, width = 1200, height=700)

In [ ]:
html = produce_scattertext_explorer(corpus,
                                    category='critical',
                                    category_name='Positive',
                                    not_category_name='Critical',
                                    width_in_pixels=1000,
                                    minimum_term_frequency=5,
                                    transform=st.Scalers.percentile,
                                    metadata=df['viewer'])
file_name = 'CriticalBookReviewScattertextRankData.html'
open(file_name, 'wb').write(html.encode('utf-8'))
IFrame(src=file_name, width = 1200, height=700)